#gameboard {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 80px;
    width: 80px;
    position: relative;
}

.square svg {
    width: 70px;
    height: 70px;
    margin: 5px;
    position: relative;
    z-index: -9;
}

path {
    position: relative;
    z-index: -10;
}

.piece {
    position: relative;
    z-index: 9;
}

.beige {
    background-color: rgb(128, 128, 104);
}

.brown {
    background-color: rgb(165, 42, 42);
}

.black {
    fill: rgb(0, 0, 0);
}

.white {
    fill: rgb(255, 255, 255);
}