#gameboard {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 80px;
    width: 80px;
    position: relative;
}

.square svg {
    width: 70px;
    height: 70px;
    margin: 5px;
    position: relative;
    z-index: -9;
}

path {
    position: relative;
    z-index: -10;
}

.piece {
    position: relative;
    z-index: 9;
}

.beige {
    background-color: rgb(82, 90, 89);
}

.brown {
    background-color: rgb(97, 11, 11);
}

.black {
    fill: rgb(0,0,0);
}

.white {
    fill: white;
}